#slider {
    max-width: 700px;
    margin: 60px auto;
    position: relative;
} 

img {
    max-width: 700px;
}


#slider i {
    position: absolute;
    font-size: 100px;
    font-weight: bold; 
    top: 5px;
    cursor: pointer;
    background: #ffffff8a;
    padding: 171px 0px;
    user-select: none; 
}

#slider i:first-child {
    left: 5px;
}

#slider i:last-child {
    right: 5px;
}